.banner {
    background-image: linear-gradient(
            to left,
            rgba(20, 141, 15, 0.157),
            rgba(63, 63, 63, 0.577)
        ),
        url("/banner.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: blur(5px);
    position: relative;
    z-index: -1;
}
